main {
    display: flex;
    flex-flow: row nowrap;
    background-image: url("../images/denim.jpg");
    background-repeat: none;
}

main div {
    padding: 1em;

}

#left {
    /*border-right: 1px black solid;*/
    border-image: url("../images/stitch.png") repeat;
}

#right {
    border-left: 1px black solid;
}
