*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
    display: flex;
    flex-flow: row nowrap;
}

header h1 {
    padding: 0;
    margin-right: auto;
}

nav {

}

nav a {
    margin-right: 1em;
}

main {
    margin: 0;
    padding: 0;
    border:0;
    display: flex;
    flex-flow: row nowrap;
    background-image: url("../images/denim.jpg");
    background-repeat: none;
    background-size: cover;
}

main div {
    padding: 1em;
    height: 100vh;
}

#left {
    border-right: 1px white solid;
    /*border-image-source: url("../images/stitch.png");*/
}

#right {
    border-left: 1px white solid;
}
