* {
	margin: 0;
	padding: 0;
}

*, body {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background-color: #cccccc;
}

.appWrapper {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('../../../images/brooklynbridge.jpg');
	background-position: top;
	// max-width: 1300px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

main {
	width: 100%;
}
