$primaryFont: 'Open Sans', sans-serif;

.footerWrapper {
	background-color: #0f1723;
	padding: 1em;
}

.footerNav {
	font-family: $primaryFont;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	a {
		font-size: 1em;
		padding: 0 1em;
		color: gray;
	}

	a:hover {
		color: #EEEEEE;;
	}
}

.social {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 1em;

	img {
		margin: 0 1em;
	}
}

.footerText {
	font-size: 0.75em;
	font-family: $primaryFont;
	color: gray;
	margin: 0 auto;
	text-align: center;
}

.activeStyle {
	color: #272c6a;
	text-decoration: underline;
}
