$primaryFont: 'Libre Franklin', sans-serif;

a {
	text-decoration: none;
}

.banner {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;

	// background: linear-gradient(to bottom, #0401a2 5%,#013fc4 22%,#d3e6f5 100%);
	background-color: #d3e6f5;

	background-image: url('../../../images/skyline.svg');
	background-position: bottom;
	background-repeat: repeat-x;
	min-height: 450px;

	.containerName {
		.name {
			max-width: 1280px;
			font-family: $primaryFont;
			font-weight: 800;
			color: #000000;
			font-size: 5em;
			margin: 0 auto;
			margin-top: -50px;
			text-align: center;
		}

		.subheader {
			font-family: $primaryFont;
			font-weight: 500;
			font-size: 1em;
			color: #777777;
			margin: 0 auto;
			text-align: center;
		}
	}
}
