$navFont: 'Open Sans', sans-serif;

nav {
	display: flex;
	flex-flow: row;
}

.navWrapper {
	margin: 0 auto;
	width: 100%;
	height: 50px;
	// background-color: #0f1723;
	// background-color: rgba(15, 23, 34, 0.6);
	// background-color: rgba(0, 0, 0, 0.3	);
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;

	// position: fixed;

 	a {
		padding-left: 1em;
		/* Typography*/
		font-family: $navFont;
		font-weight: 400;
		color: white;
	}

	a:hover {
		color: #91a4b3;;
	}
}

.activeStyle {
	color: #BBBBBB;
	text-decoration: underline;
}
