$primaryFont: 'Open Sans', sans-serif;

.aboutWrapper {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('../../images/fifthave.jpg');
	background-position: top;
	background-attachment: fixed;

	.aboutHeader {
		background-color: #0f1723;
		width: 100%;
		font-family: $primaryFont;
		font-size: 1.5em;
		color: white;
		text-align: center;
		padding: 64px;
	}
}

.aboutContainer {
	margin: 0 auto;
	margin-top: 32px;
	min-width: 600px;
	max-width: 768px;
	padding: 16px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));

	.aboutImage {

	}

	.aboutContent {
		padding: 16px;


		.about {
			font-size: 1em;
			color: white;
			max-width: 1280px;
			font-family: $primaryFont;
			font-weight: 400;
			font-size: 1.25em;
			padding: 0 16px;
			margin: 0 auto;
			text-align: center;
			line-height: 120%;
		}
	}
}

@media (max-width: 768px) {
	.sidebarContainer {
		display: none;
	}
}
