* {
	margin: 0;
	padding: 0;
}

*, body {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	// background-color: #cccccc;
	width: 100%;
}

.appWrapper {
	width: 100%;

	// max-width: 1300px;
	margin: 0 auto;
}

header {
	position: fixed;
	width: inherit;
	// z-index: 1;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

main {
	width: inherit;
	// height: 100vh;
	// display: flex;
	// flex-flow: column nowrap;
	// justify-content: center;
	// align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../../images/brooklynbridge.jpg');
	background-position: top;
	background-attachment: fixed;
}

.tileGroup {

}
