$primaryFont: 'Open Sans', sans-serif;

.bannerWrapper {
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	// min-height: 600px;
	height: 100vh;

	.containerName {
		.name {
			max-width: 1280px;
			font-family: $primaryFont;
			font-weight: 400;
			color: #FFFFFF;
			font-size: 5em;
			padding: 8px;
			margin: 0 auto;
			// margin-top: -50px;
			text-align: center;
			line-height: 120%;
		}

		.subheader {
			font-family: $primaryFont;
			font-weight: 500;
			font-size: 1em;
			color: #eeeeee;
			margin: 0 auto;
			text-align: center;
			padding-top: 0.3em;
		}
	}
}

.containerTagline {
	align-content: flex-end;
	margin: 0 auto;
	padding: 1em;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.5	);
	max-width: 90%;
	font-size: 1em;
}

.subText {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	color: #dddddd;
	line-height: 130%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	padding: 1.5em 3.5em;
}

// .downArrow {
// 	margin: 0 auto;
// 	text-align: center;
// 	color: white;
// 	font-size: 3em;
// 	display: inline-block;
// 	transform: rotate(90deg);
// }
