$primaryFont: 'Open Sans', sans-serif;

.bannerWrapper {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.containerName {
		margin-top: auto;

		.name {
			max-width: 1280px;
			font-family: $primaryFont;
			font-weight: 400;
			color: #FFFFFF;
			font-size: 7em;
			padding: 0 16px;
			margin: 0 auto;
			text-align: center;
			line-height: 120%;
		}

		.subheader {
			font-family: $primaryFont;
			font-weight: 500;
			font-size: 1em;
			color: #eeeeee;
			margin: 0 auto;
			text-align: center;
			padding-top: 0.75em;
		}
	}
}

.containerTagline {
	align-self: flex-end;
	margin: 0 auto;
	margin-top: auto;
	margin-bottom: 4em;
	padding: 1em;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 90%;
	font-size: 1em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	.tagline {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.2em;
		font-weight: 500;
		color: #dddddd;
		line-height: 130%;
		text-align: center;
		padding: 1.5em 3.5em;
		max-width: 800px;
	}

	.downArrow {
		color: white;
		font-size: 2em;
		display: inline-block;
		transform: rotate(90deg);
	}
}
