*, *:after, *:before {
	box-sizing: border-box;
}

.itemWrapper {
	flex: 1 1 300px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 1em;
	margin: 1em;
	border-radius: 7px;
	background-color: #CCCCCC;
}

.itemWrapper div {
	padding: 0.5em 0;
}

.imageWrapper img {
	max-width: 100%;
	height: 100px;
	// max-height: 300px;
}

.serviceTitle {
	font-weight: 400;
}

.headlines {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.description {
	font-family: 'Open Sans', sans-serif;
}
