.itemWrapper {
	// flex: 1 1 auto;
	min-width: 100px;
	max-width: 500px;
	// height: 200px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 1em;
	margin: 1em;
	border-radius: 7px;
	background-color: #CCCCCC;
}

.serviceTitle {
	font-weight: bold;
}

.imageWrapper img {
	max-width: 100%;
	height: 100px;
	// max-height: 300px;
}

.headlines {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.description {
	font-family: 'Open Sans', sans-serif;
}
