$primaryFont: 'Open Sans', sans-serif;

.aboutWrapper {
	height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
}

.aboutWrapper div {
	margin: 2em;
}

.sideBar {
	background-color: white;
}

@media (max-width: 768px) {
	.sideBar {
		display: none;
	}
}

.aboutHeader {

}

.aboutContainer {
	background-color: rgba(0, 0, 0, 0.7);
	min-width: 600px;
	max-width: 768px;
	padding: 1em;
}

.aboutContainer h2 {
		background-color: #0f1723;
	font-family: $primaryFont;
	font-size: 2em;
	color: white;
	text-align: center;
	padding-bottom: 16px;
}

.about {
	font-size: 1em;
	color: white;

	max-width: 1280px;
	font-family: $primaryFont;
	font-weight: 400;
	font-size: 1.25em;
	padding: 0 16px;
	margin: 0 auto;
	text-align: center;
	line-height: 120%;
}
