.homeContainer {
	margin: 0 auto;
	background-color: #0f1723;
}

.tagline {
	min-height: 100px;
	width: 100%;

	.subText {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.2em;
		font-weight: 500;
		color: #dddddd;
		line-height: 130%;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;
		padding: 1.5em 3.5em;
	}
}

.servicesWrapper {
	background-color: #aab1b9;
}
